.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header {
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.center {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.search-bar {
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 35px;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid black;
  font-size: 25px;
}

.search-button {
  margin-left: 15px;
  border-radius: 5px;
  border-color: black;
  }

.left {
  float: left;
  width: 35%;
  padding-right: 35px;
  padding-left: 10px;
}

.middle {
  float: left;
  width: 20%;
  padding-right: 10px;
}

.right {
  float: right;
  width: 25%;
}

.icon {
  display: inline-block;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.list {
  column-width: 200px;
  column-gap: 10px;
  margin: 0 auto;
  padding: 10px;
}

li {
    position: relative;
    list-style: none;
    text-align: center;
    cursor: pointer;
    margin: 0 auto 6px auto;
}

img {
    max-width: 100%;
}

/* ----------- Media Queries ----------- */
@media screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
  .App {
    max-width: 70%;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: cover;
    }
}
